.valid {
  background-color: #c8e6c9; /* Color verde para campos válidos */
}

.invalid {
  background-color: #ffcdd2; /* Color rojo para campos inválidos */
}
.invalid-label {
  color: red;
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  animation: slideInUp 0.5s ease-in-out;
}

#proceso {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.ani {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

section {
  margin-bottom: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

iframe {
  width: 100%;
}

#imagen {
  text-align: center;
}

.image-container {
  display: inline-block;
}

.image-container {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: lightgrey;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1,
h2,
h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 0.5s ease-in-out;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInFromRight {
  animation: slideInFromRight 0.5s ease-in-out;
}
